.bt-site-header {
  position: relative;
  z-index: 999;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  .bt-header-row {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .bt-logo-col {
    width: 20%;
  }
  .bt-primary-menu-col {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .bt-site-logo {
    height: 98px;
    display: flex;
    align-items: center;
    &--link {
      display: inline-block;
      line-height: 0;
      padding: 10px 0;
    }
    &--text {
      font-family: $primary-font;
      font-size: 32px;
      font-weight: 700;
      color: $color-primary;
    }
    &--img {
      max-height: 60px;
      width: auto;
      height: auto;
    }
  }
  .bt-primary-menu {
    .bt-page-menu-wrap,
    .bt-primary-menu-container {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        .current_page_item,
        .current-menu-item {
          a {
            color: $color-accent;
          }
        }
        a {
          display: inline-block;
          font-family: $primary-font;
          color: $color-primary;
          font-size: 16px;
          font-weight: 500;
          line-height: 130%;
          &:hover {
            color: $color-accent;
          }
        }
        .page_item_has_children,
        .menu-item-has-children {
          position: relative;
          &:hover {
            > ul {
              opacity: 1;
              visibility: visible;
            }
          }
          ul {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 200px;
            background: #fff;
            opacity: 0;
            visibility: hidden;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            &.bt-align-left {
              left: 0;
              right: auto;
            }
            &.bt-align-right {
              left: auto;
              right: 0;
            }
            li:not(:first-child) {
              border-top: 1px solid #c4c4c4;
            }
            .current_page_item,
            .current-menu-item {
              a {
                color: $color-accent;
              }
            }
            a {
              display: block;
              color: $color-text;
              padding: 12px 15px;
              &:hover {
                color: $color-accent;
              }
            }
            ul {
              top: 0;
              left: 100%;
              &.bt-align-left {
                left: 100%;
                right: auto;
              }
              &.bt-align-right {
                left: auto;
                right: 100%;
              }
            }
          }
        }
      }
      > ul {
        display: flex;
        align-items: center;
        gap: 10px 20px;
        &#menu-all-pages-flat {
          flex-wrap: wrap;
          > li > a {
            min-height: unset;
          }
        }
        > li > a {
          min-height: 98px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .bt-menu-toggle {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    z-index: 5;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    &.bt-is-hidden {
      opacity: 0;
      visibility: hidden;
    }
    &.bt-menu-close {
      position: absolute;
      top: 26px;
      right: 22px;
    }
  }
  @media (max-width: $break-md) {
    .bt-logo-col {
      width: 70%;
    }
    .bt-primary-menu-col {
      width: 30%;
    }
    .bt-primary-menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 263px;
      height: 100vh;
      overflow: auto;
      z-index: 9;
      opacity: 0;
      visibility: hidden;
      background: rgba(245, 245, 245, 0.95);
      -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      &.bt-is-active {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
      .bt-page-menu-wrap,
      .bt-primary-menu-container {
        padding: 120px 30px 30px;
        ul {
          .page_item_has_children,
          .menu-item-has-children {
            .bt-toggle-icon {
              position: absolute;
              top: 9px;
              right: 0;
              width: 24px;
              height: 24px;
              cursor: pointer;
              background-image: url("../images/alt-arrow-down.svg");
              background-repeat: no-repeat;
              background-position: center;
              background-size: 12px 8px;
              -webkit-transition: all 0.3s;
              transition: all 0.3s;
              &.bt-is-active {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
              }
            }
            ul {
              display: none;
              position: static;
              opacity: 1;
              visibility: visible;
              background: transparent;
              box-shadow: none;
              li {
                border-top: 1px solid #c4c4c4;
                &:not(:first-child) {
                  border-color: #c4c4c4;
                }
              }
              a {
                color: $color-primary;
              }
            }
          }
        }
        > ul {
          flex-direction: column;
          align-items: flex-start;
          gap: 0;
          > li {
            width: 100%;
            &:not(:first-child) {
              border-top: 1px solid #c4c4c4;
            }
            > a {
              display: block;
              min-height: unset;
              padding: 12px 0;
            }
          }
        }
      }
    }
    .bt-menu-toggle {
      display: flex;
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
