.bt-mobile-menu-wrapper {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    &.bt-mobile-menu > li:not(:last-child) {
      border-bottom: 1px solid #e9e9e9;
    }
    .current-menu-item {
      > a {
        color: $color-accent;
      }
    }
    a {
      display: block;
      font-family: $primary-font;
      color: $color-primary;
      font-size: 16px;
      font-weight: 600;
      line-height: 150%;
      padding: 12px 0;
      &:hover {
        color: $color-accent;
      }
    }
  }
  .sub-menu {
    display: none;
    padding-left: 12px;
    margin-bottom: 16px;
    a {
      display: block;
      font-size: 16px;
      font-weight: 400;
      padding: 7px 0;
    }
    ul {
      margin-bottom: 0;
    }
    .menu-item-has-children {
      .bt-toggle-icon {
        top: 3px;
      }
    }
  }
  .menu-item-has-children {
    position: relative;
    &.bt-is-active > .bt-toggle-icon:after {
      transform: rotate(90deg);
    }
    .bt-toggle-icon {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 7px;
      right: 0;
      width: 32px;
      height: 32px;
      z-index: 5;
      &:before,
      &:after {
        content: "";
        width: 12px;
        height: 2px;
        background-color: $color-primary;
        transition: 0.4s ease 0.1s;
        z-index: 1;
      }
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 12px;
        margin: -6px 0 0 -1px;
      }
    }
  }
}

.bt-elwg-site-infor {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 50px;
  &.bt-no-show-icon {
    svg {
      display: none;
    }
    span {
      width: 100%;
    }
  }
  &--item {
    font-family: $primary-font;
    font-size: 16px;
    line-height: 1.5;
    color: $color-primary;
    font-weight: 400;
    a {
      display: flex;
      align-items: center;
      grid-gap: 8px;
    }
    &.address,
    &.time {
      display: flex;
      align-items: center;
      grid-gap: 8px;
    }

    span {
      width: calc(100% - 28px);
    }

    svg {
      display: inline-block;
      width: 21px;
      height: 21px;
    }
  }

  &.separator {
    .bt-elwg-site-infor {
      &--item {
        position: relative;

        &:not(:last-child) {
          &::before {
            content: " ";
            display: inline-block;
            height: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: $color-secondary;
          }
        }
      }
    }
  }

  &.separator-tb-hide {
    .bt-elwg-site-infor--item:not(:last-child)::before {
      @media (min-width: 768px) and (max-width: 1024.98px) {
        content: none !important;
      }
    }
  }

  &.separator-mb-hide {
    .bt-elwg-site-infor--item:not(:last-child)::before {
      @media (max-width: 767.98px) {
        content: none !important;
      }
    }
  }

  &--style-1 {
    row-gap: 40px;
    .bt-elwg-site-infor {
      &--item {
        > a {
          display: flex;
          align-items: center;
          gap: 8px;
        }

        &-icon {
          min-width: 60px;
          min-height: 60px;
          background-color: $color-secondary;
          border: 1px solid $color-secondary;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          svg {
            width: 100%;
            height: auto;
            max-width: 30px;
            margin: 0;
            color: #fff;
          }
        }
        &-content {
          h4 {
            color: $color-primary;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            margin: 0 0 4px 0;
          }
          span {
            color: $color-primary;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
          }
        }

        &.address {
          display: flex;
          align-items: center;
          gap: 18px;
        }
      }
    }
  }
}

.bt-elwg-site-social {
  @extend .__bt-socials-style;
}

.bt-elwg-site-copyright {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 150%;
  color: $color-primary;

  a {
    color: $color-accent;

    .elementor & {
      text-decoration: underline;
    }
  }
}

.bt-elwg-page-breadcrumb {
  .bt-page-breadcrumb {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    line-height: 22px;
    color: #a0a0a0;
    font-style: normal;
    a {
      color: $color-primary;
    }
    .bt-deli {
      display: flex;
    }
    .current {
      color: #a0a0a0;
      display: flex;
      align-items: center;
      gap: 8px;
      flex-wrap: wrap;
    }
    @media (max-width: $break-sm) {
      flex-wrap: wrap;
    }
  }
}